.wrap-top-slide {
    padding-top: 20px;
    height: 60%;
    width: 100%;
    background: url('../images/slide-3.png') center no-repeat;
    background-size: cover;
    overflow: hidden
}

.details-tour .title-block {
    font-size: 30px;
    margin-bottom: 1rem;
    display: block;
    color: var(--mainColor);
    font-weight: 700
}

.details-tour .title {
    color: var(--secondGreyColor);
    font-size: 16px
}

.details-tour .desc {
    color: var(--mainColor);
    font-size: 16px;
    font-weight: 700;
    text-align: right
}

.details-tour .desc-content {
    color: var(--blackColor);
    font-size: 14px
}

.block-mini-desc {
    background: var(--mainColor)
}

.block-mini-desc a {
    color: #fff;
    text-decoration: underline
}

.block-mini-desc .title {
    color: #FFF;
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem
}

.block-mini-desc .desc-content {
    font-size: 14px;
    color: #FFF;
    margin-bottom: 0
}

.block-programs .title {
    color: var(--mainColor);
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem
}

.block-programs .desc-content {
    font-size: 14px;
    color: var(--blackColor);
    margin-bottom: 2rem
}

.accordion-programs-block .card {
    border: 0;
    border-radius: 0
}

.accordion-programs-block .card .card-header:first-child {
    border-radius: 0
}

.accordion-programs-block .card .card-header {
    background-color: var(--mainColor);
    color: #fff;
    border: 0;
    padding: 0
}

.accordion-programs-block .card .card-header h5 .btn-link {
    color: #fff;
    font-weight: 700
}

.accordion-programs-block .card .card-body {
    color: var(--blackColor);
    font-size: 14px
}

.modal-body img {
    max-width: 100%
}
